body{
    background-color: cyan;
    
}
section{
    margin: 0;
    padding-top: 50 px;
    padding-bottom: 50 px;
    padding-right: 50 px;
    padding-left: 50 px; 
    text-align: center;
}
p{
    font-style: normal;
    font-size: medium;
}



